#domains-faqs {
    background: linear-gradient(231.04deg, #182E69 8.35%, rgba(8, 67, 125, 0.805815) 53.05%, rgba(0, 88, 143, 0.550592) 84.58%, rgba(0, 109, 158, 0.389124) 93.35%, rgba(1, 130, 172, 0) 99.45%),
    linear-gradient(128.99deg, #182E69 8.4%, rgba(8, 67, 125, 0.805815) 53.34%, rgba(0, 88, 143, 0.550592) 85.05%, rgba(0, 109, 158, 0.389124) 99.99%, rgba(1, 130, 172, 0) 100%);
    mix-blend-mode: soft-light;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: white;
}

#heading-domains{
    margin-bottom: 32px;
}

#heading-faqs {
    margin: 32px auto;
}

.box-container {
    display: flex;
    justify-content: center;
}

.box{
    background: #0182AC;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    font-size:35px;
    padding:32px;
    float:left;
    font-weight:bold;
    margin-bottom: 32px;
}

.faqs{
    font-family: Poppins;
    margin-bottom:4%;
    font-weight: 1000;
    font-size:40px;
}


.card{
    background: transparent;
    margin-bottom: 8px;
}

.card-header{
    background: #0182AC;
    border: 3px solid #83CEE2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 ;
}

.btn-accordion{
    background: #0182AC;
    border:0px solid #0182AC;
    color:white;
    font-family:PT Sans;
    font-weight:bold;
    font-size:28px;
    width: 100%;
    text-align: left;
}

.btn-accordion img{
    padding:2%;
}

.card-body{
    padding-left:6%;
    padding-right:5%;
    font-family: Roboto;
    font-size:20px;
    border: 3px solid #83CEE2;
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.help-icon {
    font-size: 28px;
    vertical-align: sub;
}
