#container-fluid{
    max-width:75%;
    margin:0 auto;
}


.hero {

    background: linear-gradient(243.32deg, #182E69 8.35%, rgba(8, 67, 125, 0.805815) 53.05%, rgba(0, 88, 143, 0.550592) 84.58%, rgba(0, 109, 158, 0.389124) 93.35%, rgba(1, 130, 172, 0) 99.45%);
    mix-blend-mode: soft-light;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: white;

}

.domains{
    font-family: Poppins;
    font-weight:1000;
    font-size:40px;
    margin-top:5%;
}



.box{
    background: #0182AC;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    /* width:30%; */
    /* margin:1.66%;
    margin-top:5%;
    margin-bottom:5%; */
    text-align: center;
    font-size:35px;
    padding:2%;
    float:left;
    font-weight:bold;
}

.col-lg-3{
    margin:4%;
    height:20%;
    font-size:30px;
}




.faqs{
    font-family: Poppins;
    margin-bottom:5%;
    font-weight: 1000;
    font-size:40px;
}

.question{
    background: #0182AC;
    border: 3px solid #83CEE2;
    box-sizing: border-box;
    padding:2%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
}

.question span{
    font-size:32px;
    margin-left:10px;
    font-family: PT Sans;
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
}

.answer{
    border: 3px solid #83CEE2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}
.answer p{
    margin:3%;
    font-size:25px;
}

