#hero {
    position: relative;
    background: linear-gradient(231.04deg, #182E69 8.35%, rgba(8, 67, 125, 0.805815) 53.05%, rgba(0, 88, 143, 0.550592) 84.58%, rgba(0, 109, 158, 0.389124) 93.35%, rgba(1, 130, 172, 0) 99.45%),
        linear-gradient(128.99deg, #182E69 8.4%, rgba(8, 67, 125, 0.805815) 53.34%, rgba(0, 88, 143, 0.550592) 85.05%, rgba(0, 109, 158, 0.389124) 99.99%, rgba(1, 130, 172, 0) 100%);
    font-family: PT Sans;
    color: white;
}


#container-logo {
    display: flex;
    justify-content: center;
}

#text1 {
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
}

#text2 {
    font-weight: bold;
    font-size: 36px;
}

#btn-whole-container {
    margin-top: 56px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container button {
	min-width: 320px;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: inherit;
    color: inherit;		
}

#hero-register-btn {	    
    background: #09357A;
    border-radius: 5px;
    font-size: 32px;
    padding: 8px;
    font-weight: bold;
    border: none;
}

#know-more-btn {
    margin-top: 32px;
    background: transparent;
    border: 2px solid #83CEE2;
    border-radius: 5px;
    font-size: 24px;
    min-height: 58px;
}

#arrow-down {
    color: #09357A;
    vertical-align: sub;
}

#heroelem {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -999;
}